.Note{
    width:100%;display:block;padding:1.5rem 1.8rem;background-color:#f9f8f6;font-size:1.8rem;color:#82817d;line-height:1.3;text-align:center;border:.2rem solid #f3f1ee;border-radius:.5rem
}
.Note strong{
    font-weight:500;color:#82817d
}
.Note--margins{
    margin:1.5rem 0 3.2rem
}
.Note--warning{
    padding:1.8rem;font-size:2rem;font-weight:500;color:#ef52d1;background-color:#fadff4;border:.2rem solid #ef52d1
}

.Checkbox{
    -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer
}
.Checkbox--size-small .Checkbox-label{
    font-size:1.6rem
}
.Checkbox--withBorder{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;padding:1.5rem 0;border:.1rem solid #e7e6e4;border-radius:.5rem
}
.Checkbox--withBorder .Checkbox--checked{
    background-color:transparent
}
.Checkbox--withBorder:not(.Checkbox--checked){
    background-color:#fcfbfa
}
.Checkbox-input{
    display:none
}
.Checkbox-label{
    display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#9c9c9b;font-size:1.8rem;font-weight:500;cursor:pointer
}
.Checkbox--withBorder .Checkbox-label{
    width:100%;padding:0 1.5rem;font-size:1.6rem
}
.Checkbox--lowercase .Checkbox-label{
    text-transform:lowercase
}
.Checkbox-label-text--left{
    text-align:left;margin-right:.5rem
}
@media (min-width:480px){
    .Checkbox-label-text--left{
    margin-right:1rem
}

}
.Checkbox-label-text--right{
    text-align:right;margin-left:.8rem
}
.Checkbox--withBorder .Checkbox-label-text{
    -webkit-box-flex:1;-ms-flex:1;flex:1
}
@media (min-width:760px){
    .Checkbox--checked .Checkbox-label,.Checkbox:not(.Checkbox--disabled):hover .Checkbox-label{
    color:#2a2825
}

}
.Checkbox--checked .Checkbox-label,.Checkbox:not(.Checkbox--disabled):focus .Checkbox-label{
    color:#2a2825
}
.Checkbox--disabled,.Checkbox--disabled .Checkbox-icon,.Checkbox--disabled .Checkbox-label{
    cursor:not-allowed
}

.FiltersMenu-groups{
    -webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;margin-top:1.5rem
}
@media (min-width:480px){
    .FiltersMenu-groups{
    min-width:25rem
}

}
.FiltersMenu-group{
    margin-bottom:1.5rem;width:100%;border-bottom:2px solid #f3f1ee
}
.FiltersMenu-group:last-of-type{
    margin-right:0
}
.FiltersMenu-group-title{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:1.8rem;color:#2a2825;font-size:1.6rem;font-weight:500;cursor:pointer
}
@media (min-width:760px){
    .FiltersMenu-group-title{
    font-size:2rem
}

}
.FiltersMenu_Dropdown{
    display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:1.5rem;margin-right:1.5rem;border:2px solid #e7e6e4;border-radius:.5rem;color:#9c9c9b;font-size:1.4rem;font-weight:500;line-height:1;cursor:pointer;-webkit-transition:color .25s;transition:color .25s;position:relative
}
.FiltersMenu_Dropdown:hover{
    color:#2a2825
}
.FiltersMenu_Dropdown--Title{
    display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;padding:.64rem .96rem;position:relative
}
.FiltersMenu_Dropdown--Title-image{
    max-width:2.4rem;margin-right:.8rem
}
.FiltersMenu_Dropdown--Title-image-asset{
    display:block;width:100%;border-radius:100%
}
.FiltersMenu_Dropdown--Title-label{
    display:none;max-width:12rem;color:#9c9c9b;font-size:1.4rem;font-weight:500;letter-spacing:-.02rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;-webkit-transition:color .1s;transition:color .1s
}
@media (min-width:480px){
    .FiltersMenu_Dropdown--Title-label{
    display:block;font-size:1.6rem
}

}
@media (min-width:960px){
    .FiltersMenu_Dropdown--Title-label{
    font-size:1.8rem
}

}
.FiltersMenu_Dropdown--Title-label--highlighted{
    color:#2a2825
}
.FiltersMenu_Dropdown--Title-arrowRight{
    position:absolute;right:.64rem;margin-top:.08rem
}
.FiltersMenu_Dropdown--Content{
    position:absolute;width:700%;display:-webkit-box;display:-ms-flexbox;display:flex;margin-right:2.4rem;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;max-width:960px;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;border:.2rem solid #f3f1ee;border-radius:.4rem;-webkit-box-shadow:0 .2rem 0 0 #f3f1ee;box-shadow:0 .2rem 0 0 #f3f1ee;background-color:#fff;list-style:none;z-index:1000
}
@media (min-width:760px){
    .FiltersMenu_Dropdown--Content{
    left:100%;margin-top:-10rem
}

}
.FiltersMenu_Dropdown--Content-itemWrapper{
    padding-top:2.4rem;padding-bottom:2.4rem
}
.FiltersMenu_Dropdown--Content-item{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:2.4rem;white-space:nowrap;border-radius:.4rem;-webkit-transition:background-color .2s;transition:background-color .2s
}
.FiltersMenu_Dropdown--Content-item:hover{
    background-color:#f9f8f6
}
@media (min-width:480px){
    .FiltersMenu_Dropdown--Content-item{
    font-size:1.6rem
}

}
.FiltersMenu_Dropdown--Content-item-isSelected{
    color:#c23da8
}
.FiltersMenu_Dropdown--Content-item:last-child{
    margin-right:auto
}
.FiltersMenu_Dropdown--Content-preview{
    border-radius:10px
}
.FiltersMenu_Dropdown--Content-preview-isSelected{
    border:2px solid #e96bd4
}
.FiltersMenu_Dropdown--Content-imgContainer{
    width:70px;height:70px;border-radius:10px
}
@media (min-width:960px){
    .FiltersMenu_Dropdown--Content-imgContainer{
    width:100px;height:100px
}

}
.FiltersMenu_Dropdown--Content-cattTitle{
    display:block;text-align:center;overflow:hidden;text-overflow:ellipsis;font-size:1.4rem;font-weight:900
}
.FiltersMenu_Dropdown--Content-cattTitle:first-of-type{
    font-size:1.8rem;padding:.8rem 0 .2rem
}
@media (min-width:960px){
    .FiltersMenu_Dropdown--Content-cattTitle{
    width:10rem
}

}
.FiltersMenu-list{
    -webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-wrap:wrap;flex-wrap:wrap
}
.FiltersMenu-list,.FiltersMenu-list-item{
    display:-webkit-box;display:-ms-flexbox;display:flex
}
.FiltersMenu-list-item{
    position:relative;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:.96rem;margin-right:.8rem;padding:.64rem .96rem;border:2px solid #f3f1ee;border-radius:.5rem;color:#9c9c9b;font-size:1.6rem;font-weight:500;line-height:1;cursor:pointer;-webkit-transition:color .25s;transition:color .25s
}
.FiltersMenu-list-item>div{
    position:absolute;right:.96rem;margin-top:.08rem;text-align:right;font-weight:700
}
.FiltersMenu-list-item>div>span{
    display:inline-block;font-weight:700;opacity:.8;font-size:1.4rem;margin-right:.16rem
}
.FiltersMenu-list-item-icon,.FiltersMenu-list-item>img{
    margin-right:.8rem
}
.FiltersMenu-list-item:last-of-type{
    margin-bottom:2.4rem
}
.FiltersMenu-list-item:hover{
    opacity:.8
}
.FiltersMenu-list-item--isActive{
    background-color:#fff;border:2px solid #e7e6e4;color:#2a2825
}
.FiltersMenu-list-item--isActive:hover{
    opacity:1
}
.FiltersMenu-list-text--highlighted{
    color:#2a2825
}

.FiltersMenuMobile-groups{
    -ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-top:.8rem
}
.FiltersMenuMobile-group,.FiltersMenuMobile-groups{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-direction:normal;width:100%
}
.FiltersMenuMobile-group{
    margin-bottom:1.5rem;-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column
}
@media (min-width:480px){
    .FiltersMenuMobile-group{
    width:48%
}

}
.FiltersMenuMobile-group:first-of-type,.FiltersMenuMobile-group:first-of-type .FiltersMenuMobile-list-item,.FiltersMenuMobile-group:nth-of-type(2),.FiltersMenuMobile-group:nth-of-type(2) .FiltersMenuMobile-list-item,.FiltersMenuMobile-group:nth-of-type(3),.FiltersMenuMobile-group:nth-of-type(3) .FiltersMenuMobile-list-item{
    width:100%
}
@media (min-width:480px){
    .FiltersMenuMobile-group:first-of-type .FiltersMenuMobile-list-item,.FiltersMenuMobile-group:nth-of-type(2) .FiltersMenuMobile-list-item,.FiltersMenuMobile-group:nth-of-type(3) .FiltersMenuMobile-list-item{
    width:49%
}

}
@media (min-width:960px){
    .FiltersMenuMobile-group:first-of-type .FiltersMenuMobile-list-item,.FiltersMenuMobile-group:nth-of-type(2) .FiltersMenuMobile-list-item,.FiltersMenuMobile-group:nth-of-type(3) .FiltersMenuMobile-list-item{
    width:24%
}

}
@media (min-width:960px){
    .FiltersMenuMobile-group:first-of-type .FiltersMenuMobile-list-item{
    width:33%
}

}
.FiltersMenuMobile-group-title{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:1.8rem;color:#2a2825;font-size:1.6rem;font-weight:500;cursor:pointer
}
@media (min-width:760px){
    .FiltersMenuMobile-group-title{
    font-size:2rem;min-width:110px
}

}
.FiltersMenuMobile-list{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap
}
.FiltersMenuMobile-list:first-of-type{
    -ms-flex-pack:distribute;justify-content:space-around
}
.FiltersMenuMobile-list-item{
    display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:.96rem;padding:.64rem .96rem;border:2px solid #f3f1ee;border-radius:.5rem;color:#9c9c9b;font-size:1.6rem;font-weight:500;line-height:1;width:100%;min-width:200px;cursor:pointer;-webkit-transition:color .25s;transition:color .25s
}
.FiltersMenuMobile-list-item>div{
    position:absolute;right:.96rem;margin-top:.08rem;text-align:right;font-weight:700
}
.FiltersMenuMobile-list-item>div>span{
    display:inline-block;font-size:1.44rem;margin-right:.16rem;font-weight:700
}
.FiltersMenuMobile-list-item>div>span:first-of-type{
    opacity:.8;font-size:1.4rem;margin-right:.8rem
}
.FiltersMenuMobile-list-item-icon,.FiltersMenuMobile-list-item>img{
    margin-right:.8rem
}
.FiltersMenuMobile-list-item:hover{
    opacity:.8
}
.FiltersMenuMobile-list-item--isActive{
    background-color:#fff;border:2px solid #e7e6e4;color:#2a2825
}
.FiltersMenuMobile-list-item--isActive:hover{
    opacity:1
}
.FiltersMenuMobile-list-text--highlighted{
    color:#2a2825
}

.SelectionGroup .Checkbox-label{
    font-size:1.4rem
}
@media (min-width:480px){
    .SelectionGroup .Checkbox-label{
    font-size:1.6rem
}

}
@media (min-width:760px){
    .SelectionGroup .Checkbox-label{
    font-size:1.8rem
}

}
.SelectionGroup .Checkbox-label-icon{
    display:-webkit-box;display:-ms-flexbox;display:flex
}
@media (min-width:760px){
    .SelectionGroup .Checkbox-label-icon{
    margin-top:.2rem
}

}
.SelectionGroup .Checkbox-label-iconcheck{
    width:1.2rem;height:1.2rem
}
.SelectionGroup--bordered .SelectionGroup-item{
    border:.2rem solid #f3f1ee;border-bottom-right-radius:.5rem;border-bottom-left-radius:.5rem;-webkit-box-align:center;-ms-flex-align:center;align-items:center
}
.SelectionGroup--bordered .SelectionGroup-item:first-child{
    border-radius:.5rem 0 0 .5rem;border-right:.2rem solid #f3f1ee
}
@media (min-width:760px){
    .SelectionGroup--bordered .SelectionGroup-item:first-child{
    border-right:none
}

}
@media (min-width:760px){
    .SelectionGroup--bordered .SelectionGroup-item{
    border:none;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start!important;-ms-flex-align:start!important;align-items:flex-start!important
}

}
.SelectionGroup--display-default{
    display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;text-align:left
}
@media (min-width:760px){
    .SelectionGroup--display-default{
    border:none
}

}
.SelectionGroup--display-default .SelectionGroup-item{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:.5rem 1rem
}
.SelectionGroup--display-default .SelectionGroup-item:last-child{
    border-radius:0 0 .5rem 0
}
.SelectionGroup--display-column{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-left:.8rem
}
.SelectionGroup--display-default .SelectionGroup-item{
    -webkit-box-flex:1;-ms-flex:1 auto;flex:1 auto
}

.Select-container{
    width:100%;display:inline-block;position:relative
}
.Select{
    display:block;padding:0 2.4rem 0 0;width:100%;color:#2a2825;font-weight:500;font-size:1.8rem;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-transition:color .2s;transition:color .2s
}
.Select:active,.Select:focus{
    border:none;outline:none
}
.Select-icon{
    position:absolute;top:37%;right:0;display:block;pointer-events:none
}

.tag{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin:0 0 0 1.5rem;padding:4px 13px 5px 11px;border-radius:5px;border:2px solid #e7e6e4;background-color:#fcfbfa;font-size:1.4rem;color:#82817d;cursor:default
}
@media (min-width:480px){
    .tag{
    font-size:1.6rem
}

}
.tag>img{
    margin-right:8px
}
.tag>b{
    display:inline-block;margin-right:4px
}
.tag>b>span{
    margin:0 1px 0 2px;font-size:1.2rem
}
.tag>b>span:last-of-type{
    margin:0 1px 0 0
}
@media (min-width:480px){
    .tag>b>span{
    font-size:1.4rem
}

}
.tag>span{
    margin-left:8px;cursor:pointer
}
.tag>span:hover{
    display:inline-block;opacity:.6
}
.Toolbar-menu-button{
    font-size:1.8rem;font-weight:500;color:#9c9c9b;white-space:nowrap;-webkit-transition:opacity .2s;transition:opacity .2s;margin:0 2.4rem 0 -12px
}
.Toolbar-menu-button--active{
    color:#e96bd4
}
.Toolbar-menu-button:focus{
    outline:none
}
.Toolbar-generation{
    display:none
}
@media (min-width:760px){
    .Toolbar-generation{
    display:block;margin-right:2.4rem
}

}
.Toolbar-generation--label{
    display:none;font-size:1.8rem;margin-right:.8rem;font-weight:500
}
@media (min-width:760px){
    .Toolbar-generation--label{
    display:inline-block
}

}
.Toolbar-generation--reset-button{
    display:block;position:absolute;color:#9c9c9b;font-size:1.6rem;font-weight:500;cursor:pointer
}
.Toolbar-generation--reset-button--isDisabled{
    display:none
}
.Toolbar-sort{
    -ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:auto;min-width:auto;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-left:auto
}
.Toolbar-sort,.Toolbar-sort-options{
    display:-webkit-box;display:-ms-flexbox;display:flex
}
.Toolbar-sort-options{
    -webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end
}
.Toolbar-label{
    min-width:60px;color:#82817d;font-weight:500;font-size:1.4rem;text-transform:lowercase
}
@media (min-width:760px){
    .Toolbar-label{
    font-size:1.6rem;margin-right:2.4rem;display:block;width:auto;margin-bottom:0;white-space:nowrap
}
.Toolbar-label:not(.Toolbar-label--alwaysVisible){
    display:block
}

}
.Toolbar-searchBar{
    margin-bottom:2.4rem;padding-bottom:3.2rem;border-bottom:.2rem solid #f3f1ee
}
.Toolbar-searchBar--noSidebar{
    margin:0 auto 1.5rem;width:95%;max-width:116rem
}
.Toolbar-searchBar--noFiltersButton{
    margin-left:0
}
@media (min-width:1200px){
    .Toolbar-searchBar--noFiltersButton{
    margin-left:6.4rem
}

}
.Toolbar-count{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-left:2.4rem;color:#82817d;font-size:1.4rem
}
@media (min-width:480px){
    .Toolbar-count{
    font-size:1.6rem
}

}
@media (min-width:760px){
    .Toolbar-count{
    font-size:1.8rem
}

}
.Toolbar-count>span{
    display:inline-block;margin-left:.8rem;font-weight:700
}
.Toolbar-RowContainer{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:1.5rem
}
@media (min-width:1080px){
    .Toolbar-RowContainer{
    margin-bottom:2.4rem
}

}
.Toolbar-RowContainer--first-row{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin-bottom:1.5rem
}
.Toolbar-RowContainer--first-row .tag{
    display:none
}
@media (min-width:1080px){
    .Toolbar-RowContainer--first-row{
    display:none
}

}
.Toolbar-RowContainer--first-row .Toolbar-menu-button{
    display:block
}
@media (min-width:1080px){
    .Toolbar-RowContainer--first-row .Toolbar-menu-button{
    display:none
}

}
.Toolbar-RowContainer--first-row .Toolbar-include{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-flex:3;-ms-flex-positive:3;flex-grow:3;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;position:relative
}
@media (min-width:1080px){
    .Toolbar-RowContainer--first-row .Toolbar-include{
    display:none
}

}
.Toolbar-RowContainer--first-row .Toolbar-include .SelectionGroup-item{
    display:none
}
.Toolbar-RowContainer--first-row .Toolbar-include .SelectionGroup-item:first-of-type,.Toolbar-RowContainer--first-row .Toolbar-include .SelectionGroup-item:nth-of-type(2),.Toolbar-RowContainer--first-row .Toolbar-include .SelectionGroup-item:nth-of-type(3){
    display:block
}
.Toolbar-RowContainer--first-row .Toolbar-include .SelectionGroup-item:first-of-type .Checkbox-label-imgIcon,.Toolbar-RowContainer--first-row .Toolbar-include .SelectionGroup-item:nth-of-type(2) .Checkbox-label-imgIcon,.Toolbar-RowContainer--first-row .Toolbar-include .SelectionGroup-item:nth-of-type(3) .Checkbox-label-imgIcon{
    display:none
}
@media (min-width:960px){
    .Toolbar-RowContainer--first-row .Toolbar-include .SelectionGroup-item:first-of-type .Checkbox-label-imgIcon,.Toolbar-RowContainer--first-row .Toolbar-include .SelectionGroup-item:nth-of-type(2) .Checkbox-label-imgIcon,.Toolbar-RowContainer--first-row .Toolbar-include .SelectionGroup-item:nth-of-type(3) .Checkbox-label-imgIcon{
    display:inline-block
}

}
.Toolbar-RowContainer--first-row .Toolbar-include .SelectionGroup-item:nth-of-type(3){
    margin-right:0
}
.Toolbar-RowContainer--second-row .Toolbar-menu-button{
    display:none
}
@media (min-width:1080px){
    .Toolbar-RowContainer--second-row .Toolbar-menu-button{
    display:block
}

}
.Toolbar-RowContainer--third-row{
    -webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-bottom:1.5rem
}
.Toolbar-RowContainer--third-row .Toolbar-sort{
    display:none
}
@media (min-width:760px){
    .Toolbar-RowContainer--third-row .Toolbar-sort{
    display:block
}

}
.Toolbar-RowContainer--third-row .Toolbar-include .SelectionGroup-item:first-of-type,.Toolbar-RowContainer--third-row .Toolbar-include .SelectionGroup-item:nth-of-type(2),.Toolbar-RowContainer--third-row .Toolbar-include .SelectionGroup-item:nth-of-type(3){
    display:none
}
@media (min-width:1080px){
    .Toolbar-RowContainer--third-row .Toolbar-include .SelectionGroup-item:first-of-type,.Toolbar-RowContainer--third-row .Toolbar-include .SelectionGroup-item:nth-of-type(2),.Toolbar-RowContainer--third-row .Toolbar-include .SelectionGroup-item:nth-of-type(3){
    display:block
}

}
.Toolbar-RowContainer--third-row .Toolbar-include .SelectionGroup-item:last-of-type{
    margin-right:0
}
.Toolbar-RowContainer--third-row .Toolbar-include .SelectionGroup-item:nth-of-type(3){
    margin-right:50px
}
.Toolbar-RowContainer--fourth-row .Toolbar-sort,.Toolbar-RowContainer--fourth-row .Toolbar-sort-options{
    width:100%
}
.Toolbar-RowContainer--fourth-row .Toolbar-sort-options .Select{
    font-size:1.4rem
}
.Toolbar-RowContainer--fourth-row .Toolbar-sort-options .Select-icon{
    top:20%
}
@media (min-width:760px){
    .Toolbar-RowContainer--fourth-row{
    display:none
}

}

.SearchPage{
    display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:.8rem 0 6.4rem;max-width:1440px
}
@media (min-width:760px){
    .SearchPage{
    -webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;padding:1.5rem 0 6.4rem
}

}
.SearchPage--ToolbarDesktop{
    display:none;margin:0 auto;width:86%;z-index:1
}
@media (min-width:1360px){
    .SearchPage--ToolbarDesktop{
    display:block;max-width:33rem;min-width:33rem;height:100%;border-right:.2rem solid #f3f1ee
}

}
.SearchPage--ToolbarMobile{
    display:none
}
.SearchPage--ToolbarMobile--active{
    display:-webkit-box;display:-ms-flexbox;display:flex
}
@media (min-width:1360px){
    .SearchPage--ToolbarMobile--active{
    display:none
}

}
.SearchPage .KittiesGrid{
    margin-bottom:2.4rem
}
.SearchPage-SearchKittyGalleryContainer{
    max-width:122rem
}
@media (min-width:1360px){
    .SearchPage-SearchKittyGalleryContainer{
    padding-left:3.2rem
}

}
.SearchPage-content{
    width:100%
}
@media (min-width:1360px){
    .SearchPage-content{
    margin-left:2.4rem
}
.SearchPage-content--filtersInvisible{
    margin-left:0
}

}
.KittiesGrid{--size-gap:1.8rem;position:relative;display:grid;grid-gap:var(--size-gap);grid-template-columns:repeat(var(--num-columns),1fr)}.KittiesGrid,.KittiesGrid--colspan-1,.KittiesGrid--colspan-2{--num-columns:1}@media (min-width:320px){.KittiesGrid--colspan-2{--num-columns:2}}@media (min-width:480px){.KittiesGrid--colspan-2{--size-gap:2.25rem}}@media (min-width:760px){.KittiesGrid--colspan-2{--size-gap:3.495rem}}.KittiesGrid--colspan-3{--num-columns:1}@media (min-width:320px){.KittiesGrid--colspan-3{--num-columns:2}}@media (min-width:480px){.KittiesGrid--colspan-3{--size-gap:2.25rem}}@media (min-width:760px){.KittiesGrid--colspan-3{--num-columns:3}}@media (min-width:960px){.KittiesGrid--colspan-3{--size-gap:3.495rem}}.KittiesGrid--colspan-4{--num-columns:1}@media (min-width:320px){.KittiesGrid--colspan-4{--num-columns:2}}@media (min-width:480px){.KittiesGrid--colspan-4{--size-gap:2.25rem;--num-columns:2}}@media (min-width:760px){.KittiesGrid--colspan-4{--num-columns:3;--size-gap:3.495rem}}@media (min-width:1080px){.KittiesGrid--colspan-4{--num-columns:4}}.KittiesGrid-item{min-width:0;min-height:0}.KittiesGrid-loader{position:absolute;bottom:-3rem;left:50%;font-weight:500;color:#9c9c9b;letter-spacing:.2rem;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.Note.Note--warning{margin-bottom:3rem}@media (min-width:760px){.Note.Note--warning{margin-bottom:4rem}}