.Header{
    padding: 1rem 2rem;
    position: relative;
    z-index: 850;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.Header_logo {
    display: flex;
    align-items: center;
}
.Header_logo_icon{
    display: block;
    width: 2.5rem;
    height: 4rem;
    background-image: url(../../public/assets/images/logo.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}
.Header_logo_icon:after, .Header_logo:hover .Header_logo_icon {
    background-image: url(../../public/assets/images/logo-hover.gif);
}
.Header_logo_wordmark{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    margin-left: 1rem;
}
.ProviderStatus {
    margin-left: 2rem;
}
.ProviderStatus__locked {
    --badgeColor: #fcdf35;
    --badgeColorLight: #faf4cf;
}
.ProviderStatus_message {
    display: flex;
    align-items: center;
}
.ProviderStatus_badge {
    width: 0.8rem;
    height: 0.8rem;
    background-color: #faf4cf;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.2rem #fcdf35;
}
.ProviderStatus_provider, .ProviderStatus_status {
    margin-left: 0.5rem;
    color: #2a2825;
    font-size: 0.8rem;
    font-weight: 500;
}
.Header_navigation {
    flex: 1;
}
ul {
    color: #82817d;
}
.Header_navigation_items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.Header_navigation_item {
    margin-left: 2rem;
}
.Dropdown {
    position: relative;
    cursor: pointer;
}
.Dropdown_link {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.Dropdown_link:hover .Dropdown_link_label{
    color:#e96bd4;
}
.Dropdown_link:hover g{
    stroke:#e96bd4;
}
.Dropdown_link_image {
    max-width: 2.4rem;
    margin-top: -0.2rem;
    margin-left: 0;
    margin-right: 0.8rem;
}
.Dropdown_link_label {
    max-width: 8rem;
    font-size: 0.8rem;
    color: #2a2825;
    font-weight: 500;
    letter-spacing: 0.02rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color .1s;
}
.Dropdown_link_caret {
    display: block;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
}
.IconV2 {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
.IconV2__display_inlineBlock {
    vertical-align: middle;
}
body:not(.keyboard-intent) .ButtonV2 {
    outline: none;
}
.ButtonV2__size_xs {
    min-width: 3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    height: 2.6rem;
    font-size: 1rem;
}
.ButtonV2, .ButtonV2:active {
    transform: translateY(0);
    box-shadow: 0 0.2rem 0 0 #c23da8;
}
.ButtonV2 {
    position: relative;
    display: inline-flex;
    align-items: stretch;
    justify-content: space-around;
    background: #ef52d1;
    color: #fff;
    border: 2px solid #c23da8;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .2s cubic-bezier(.06,.67,.37,.99);
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
}
.ButtonV2__color_pink {
    --color-main: #ef52d1;
    --color-shadow: #c23da8;
    --color-text: #fff;
}
.ButtonV2_children {
    display: flex;
    align-items: center;
}
.Header_navigation_activity {
    position: relative;
    display: block;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 1.5rem;
    color: #2a2825;
    cursor: pointer;
    outline: 0;
    transition: color .1s;
}
.Header_navigation__globalfeed {
    position: absolute;
    right: -1px;
    bottom: 0.7rem;
    width: 0.3rem;
    height: 0.3rem;
    background-color: #ef52d1;
    border: 0.2rem solid #fff;
    border-radius: 100%;
}